* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}
header {
    background-color: rgb(37, 94, 233);
    }

.header-top {
    width: 1170px;
    margin: auto;
    display: flex;
}

.logo {
    width: 20%;
    color: white;
    font-size: 25px;
    padding: 10px 0px;
    font-weight: 500;
}

.login {
    width: 20%;
    text-align: end;
    padding: 20px 0px;
}

.links {
    width: 60%;
    padding: 20px 0px;
}

a{
    color: white;
    text-decoration: none;
    margin: 0px 35px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.button-up {
    font-size: 14px;
    border-radius: 30px;
    padding: 7px 16px;
    border-style: none;
}

.bg-image{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 700px;
}

.header-bottom {
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
}

.header-title{
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 50px;
}

.header-p{
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 35px;
}

#black-b {
    background-color: rgb(35, 39, 42);
    color: white;
}

.header-bottom > button {
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 50px;
    border-style: none;
}

.arrow {
    font-size: 20px;
}

.main-container{
    width: 1170px;
    margin: 150px auto;
    display: flex;
    padding: 25px 0px;
}

.bg-grey{
    background-color: rgb(246, 246, 246);
}

.main-h2{
    font-size: 48px;
    margin-bottom: 30px;
}

.main-img{
    font-size: 50px;
    width: 70%;
    height: 400px;
}

.main-p {
    font-size: 20px;
    line-height: 35px;
}
.main-text{
    width: 30%;
}

.last-section {
    display: flex;
    justify-content: center;
}

.big-text{
    width: 1170px;
    text-align: center;
    padding: 50px 0px;
}

.ending {
    display: flex;
    justify-content: center;
}
 h4 {
    font-size: 32px;
    padding: 20px;
 }

.column > button {
     font-size: 20px;
     padding: 16px 32px;
     border-radius: 50px;
     border-style: none;
     background-color: rgb(114, 137, 218);
     color: white;
     margin: 0px 0px 50px 200px;
 }

.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    margin-top: 50px;
}

