* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    font-family: 'Rubik', sans-serif;
}
header {
    background-color: rgb(37, 94, 233);
    }

.header-top {
    width: 1170px;
    margin: auto;
    display: flex;
}

.logo {
    width: 20%;
    color: white;
    font-size: 25px;
    padding: 10px 0px;
    font-weight: 500;
}

.login {
    width: 20%;
    text-align: end;
    padding: 20px 0px;
}

.links {
    width: 60%;
    padding: 20px 0px;
}

a{
    color: white;
    text-decoration: none;
    margin: 0px 35px;
}

.links-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.button-up {
    font-size: 14px;
    border-radius: 30px;
    padding: 7px 16px;
    border-style: none;
}

.bg-image{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 700px;
}

.header-bottom {
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
}

.header-title{
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 50px;
}

.header-p{
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 35px;
}

#black-b {
    background-color: rgb(35, 39, 42);
    color: white;
}

.header-bottom > button {
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 50px;
    border-style: none;
}   
/*
.arrow {
    width: 24px;
    display: inline-block;
    padding-right: 15px;
}*/

.main-container{
    width: 1170px;
    margin: 150px auto;
    display: flex;
    padding: 25px 0px;
}

.bg-grey{
    background-color: rgb(246, 246, 246);
}

.main-h2{
    font-size: 48px;
    margin-bottom: 30px;
}

.main-img{
    font-size: 50px;
    width: 70%;
    height: 400px;
}

.main-p {
    font-size: 20px;
    line-height: 35px;
}
.main-text{
    width: 30%;
}

.last-section {
    display: flex;
    justify-content: center;
}

.big-text{
    width: 1170px;
    text-align: center;
    padding: 50px 0px;
}

.ending {
    display: flex;
    justify-content: center;
}
#h4-title {
    font-size: 32px;
    padding: 20px;
 }

.credits > button {
     font-size: 20px;
     padding: 16px 32px;
     border-radius: 50px;
     border-style: none;
     background-color: rgb(114, 137, 218);
     color: white;
     margin: 0px 0px 50px 200px;
 }

.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    margin-top: 50px;
}

footer{
    background-color: rgb(35, 39, 42);
}
.footer-container {
    width: 1170px;
    margin: auto;
}
.footer-top{
    display: flex;
    padding: 100px 0px 50px;
}
.main-footer{
    width: 25%;
}
.footer-title{
    color: rgb(88, 101, 242);
    font-size: 32px;
    margin-bottom: 10px;
}

.language{
    color: white;
}

.language::after{
    content: '\2228';
    color: white;
}

.list{
    display: inline-block;
}
.ita-flag{
    height: 12px;
}
.list-container {
    width: 75%;
    display: flex;
}

#list-title{
    color: rgb(88, 101, 242);
    margin: 0px 35px;
}

.column{
    margin-right: 10%;
}

.footer-list > li{
    color: white;
    padding: 10px 0px;
}

.footer-list{
    list-style: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 50px;
}

.footer-bottom button {
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 50px;
    border-style: none;
    background-color: rgb(114, 137, 218);
    color: white;
}

.icons{
    color: white;
    padding: 10px 0px;
}

.icons i{
    margin-right: 5px;
}